.collapse-container {
    margin-bottom: 20px;

    &.about {
        width: 1023px;
        font-size: 24px;

        .collapse-header {
            background-color: #ff6060;
            color: white;
            font-size: 24px;
            font-weight: 700;
            height: 52px;
            border-radius: 5px;
            padding: 5px;
            border: none;
            width: 1023px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .collapse-content {
            background-color: #F6F6F673;
            padding: 15px;
            font-size: 18px;
        }
    }

    &.house {
        width: 100%;
        font-size: 14px;

        .collapse-header {
            background-color: #ff6060;
            color: white;
            font-weight: 700;
            height: 40px;
            border-radius: 5px;
            padding: 5px;
            border: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
        }


        .collapse-content {
            background-color: #f7f7f7;
            padding: 10px;
        }
    }

}