.about-collapse {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    .collapse-container {
        width: 1023px;

        .collapse-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ff6060;
            height: 52px;
            border-radius: 5px;
            font-size: 24px;
            color: white;
            font-weight: 700;
            padding: 5px;
            width: 1023px;
            border: none;
        }

        .collapse-content {
            padding: 15px;
        }
    }
}