.gallery {
  background-color: #F6F6F6;
  padding: 60px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 70px 89.5px;
  margin-bottom: 20px;
}