.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 68px;
    width: 210px;
  }

  &__nav {
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      color: inherit;
      padding-bottom: 4px;
      font-size: 1.2rem;
      font-weight: 500;

      &.active {
        border-bottom: 2px solid black;
      }
    }
  }
}
