@mixin responsive($breakpoint) {
    @if $breakpoint ==mobile {
        @media (max-width: 768px) {
            @content;
        }
    }
}

.container-page {

    @include responsive(tablet) {}

    @include responsive(mobile) {
        margin: 25px 15px 0px;
    }
}

@include responsive(mobile) {
    .header {

        &__logo {

            height: 40px;
            width: 125px;
            object-fit: cover;
        }

        &__nav {
            gap: 1rem;
        }

        &__nav a {
            font-size: 12px;

        }
    }
}

.banner {
    @include responsive(mobile) {
        height: 111px;
    }
}

// Collapses
@include responsive (mobile) {

    .about-collapse {
        margin-bottom: 40px;
        margin-top: 50px;

        .collapse-container {
            width: 100%;

            .collapse-header {
                width: 100%;
                font-size: 17px;
            }

        }

    }

    .collapse-container.house .collapse-header {
        background-color: #ff6060;
        color: white;
        font-weight: 700;
        height: 40px;
        border-radius: 5px;
        padding: 5px;
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }
}

// Error 404 page

@include responsive (mobile) {
    .error-page {
        .main-container-404 {
            padding: 20px;
            gap: 90px;
            margin-top: 40px;

            & a {
                font-size: 14px;
                text-align: center;
            }

            .error-name {
                font-size: 96px;
            }

            .subtitle-error {
                font-size: 18px;
                text-align: center;
            }

        }
    }
}

// Home Page

@include responsive (mobile) {
    .banner__text {
        font-size: 24px;
        text-align: left;
        padding: 20px;
    }

    .gallery {
        background-color: white;
        padding: 0px;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
        gap: 30px;
    }

    .card {
        width: 100%;
        height: 220px;

    }
}

// House-page

@include responsive(mobile) {
    .house-info {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title-location {
            .house-title {
                font-size: 18px;
            }

            .location {
                font-size: 14px;
            }
        }

        .tags {
            .tag {
                width: 82px;
                height: 18px;
                font-size: 10px;
            }
        }
    }

    .host-rating {
        display: flex;
        margin-top: 15px;
        flex-direction: row-reverse;
        align-items: center;

        .house-host {
            .host-info {
                .host-name {
                    font-size: 12px;
                    width: 83px;
                    height: 33px;

                }

                img.host-picture {
                    height: 32px;
                    width: 32px;
                }
            }

        }
    }

    .collapses {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .carousel {

        .carousel-img {
            height: 255px;
        }

        .carousel-arrow.left {
            left: 10px;

            img {
                object-fit: cover;
                width: 20px;
                height: 35px;
            }
        }

        .carousel-arrow.right {
            right: 10px;

            img {
                object-fit: cover;
                width: 20px;
                height: 35px;
            }
        }

        .carousel-counter {
            display: none;

        }
    }
}

// Footer

footer {
    @include responsive(mobile) {
        padding: 86px;
    }
}